 <div>
    <form action= "<%= formaction %>" method="post">
        <label for="title">Name:</label>
        <input type="text" name="username" placeholder="Enter your name" />
        <label for="email">Email:</label>
        <input  type="email" name="email" placeholder="Enter email address" id="title"/>
        <label for="password">Password:</label>
        <input type="password" placeholder="Enter password" name="password"></input>
        <label for="userrole">User Role:</label>
        <input type="text" placeholder="ex. Admin, client, manager" name="role"></input>
        <br>
        <button class="btn" type="submit"> <%= btn %></button>
    </form>
</div>