<%- include("partials/header"); -%>
<div class="container">
  <h1 style="text-align: center">Hi, this is admin page</h1>
  <div>
    <a class="btn-primary" href="/edit">Edit Details</a>
    <a class="btn-primary" id="disabled" href="/download">Download Report</a>
  </div>
  <a class="btn" href="/logout">Logout</a>
</div>
<%- include("partials/footer"); -%>
