<%- include("partials/header"); -%>
<div class="container">
  <h1 style="text-align: center">Hi, you are logged in as an Admin</h1>
  <div>
    <a class="btn-primary" href="/data">View Data</a> &ensp;
    <a class="btn-primary" href="/download">Download Report</a>
  </div>
  <a class="btn" href="/logout">Logout</a>
</div>
<%- include("partials/footer"); -%>
