<%- include("partials/header"); -%>
<div class="container">
  <h1 style="text-align: center">Hi, this is client page</h1>
  <div>
    <a class="btn-primary" href="/edit">Edit Details</a>
    <a class="btn-primary" id="disabled" href="/download">Contact Us</a>
    <a class="btn" href="Logout">Logout</a>
  </div>
</div>
<%- include("partials/footer"); -%>