<%- include("partials/header"); -%>
<div class="container">
    <h1>Hi, admin you can edit the details</h1>
    <a class="btn" href="/details">Start Editing</a>
</div>
<%- include("partials/footer"); -%>
