<%- include("partials/header"); -%>
<div class="container">
    <h1>Hi, welcome you are logged in</h1>
    <a class="btn" href="<%= logaction %>"><%= btn %></a>
    <a class="btn-primary" href="/edit">Edit Details</a>
</div>
<%- include("partials/footer"); -%>
