<%- include("partials/header"); -%>
<div class="container">
	<h1>Login</h1>
    <form action= "/users/login" method="post">
        <div><label for="email">Email:</label>
        <input  type="email" name="email" placeholder="Enter your email address" id="title"/></div>
        <div><label for="password">Password:</label>
        <input type="password" placeholder="Enter password" name="password"></input></div>
        <button class="btn" type="submit">Login</button>
    </form>
	<br />
	<span >By logging in, you agree to our <a href="#" style="text-decoration:none;color:#a18cff;"> Terms of Use</a> and <a href="#" style="text-decoration:none;color:#a18cff;"> Privacy Policy.  </a></span>
	<hr />
	<div> Don't have an account ?<a href="/users/register" style="text-decoration:none;color:#a18cff;"> Sign up </a></div>
</div>
<%- include("partials/footer"); -%>
