<%- include("partials/header"); -%>
<div class="container">
	<h1>Sign Up</h1>
	<%- include("partials/form"); -%>
	<br />
	<span style="font-size: 16px">By signing up, you agree to our <a href="/terms-&-conditions" style="text-decoration:none;color:#a18cff;"> Terms of Use</a> and <a href="/privacy-policy" style="text-decoration:none;color:#a18cff;"> Privacy Policy.  </a></span>
	<hr />
	<div> Already have an account ?<a href="/" style="text-decoration:none;color:#a18cff;"> Login </a></div>
</div>
<%- include("partials/footer"); -%>
