<%- include("partials/header"); -%>
<div class="container">
    <h1>Oops! You are unauthorized, try registering yourself</h1>
    <a class="btn" href="<%= logaction %>"><%= btn %></a>
</div>
<%- include("partials/footer"); -%>