*{
    padding: 0;
    margin: 0;
}

body{
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
    flex-direction: column;
    background-color: #333333;
}

label{
    margin-right: 1.5rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

input{
    padding: 5px;
    border: 1px solid rgb(149, 149, 167);
    border-radius: 3px;
}

h1{
    padding: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.btn{
    padding: 7px;
    width: 100px;
    color: white;
    background-color: #a18cff;
    display: block;
    margin: 4rem auto;
    border: 1px solid #6f6a6a;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
.btn:hover{
    color: #a18cff;
    border: 1px solid #a18cff;
    background-color: #333333;

}

.btn-primary{
    padding: 7px;
    width: 100px;
    color: #a18cff;
    border: 1px solid #a18cff;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.disable:disabled {
    background: #dddddd;
  }

.btn-primary:hover{
    color: white;
    background-color: #a18cff;
}
a{
    text-decoration: none;
}

form div{
    margin-bottom: 1rem;
}